@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace; 
    scroll-behavior: smooth;

  font-family: 'Raleway', sans-serif;
}

body {
    min-height: 400vh;
    /* background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); */
    overflow-x: hidden;
    background-color: #101820;
  margin-top: 60px;
  }


::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: #F5D042;
}

a{
  list-style: none;
  font-style: none;
  text-decoration: none;
}